/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --primary: #1aac83;
    --borrowed: #2a0fdc78;
    --taken: #e21f1f;
    --returned: #148226;
    --error: #e7195a;
  }
body{
    background: #f1f1f1;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}

header{
    background: #fff;
}
header .container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.pages{
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 100px;
}
/* ALL BOOKS */
.single-book{
    background: #fff;
    border-radius: 4px;
    border-left: 5px solid var(--primary);
    margin-left: 10px;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.single-book h4{
    margin: 0px 0px 10px 0px;
    font-size: 1.2em;
    color: var(--primary);

}
.single-book p{
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.single-book a{
    text-decoration: none;
    padding: 5px;
    background: var(--primary);
    margin-top: 5px;
    color: #f1f1f1;
    border-radius: 10px;
}
/* BORROWED BOOK */
.borrowed-book{
    background: #fff;
    border-radius: 4px;
    margin-left: 10px;
    border-left: 0px solid var(--borrowed);
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.borrowed-book h4{
    margin: 0px 0px 10px 0px;
    font-size: 1.2em;
    color: var(--borrowed);

}
.borrowed-book p{
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.borrowed-book a{
    text-decoration: none;
    padding: 5px;
    background: var(--borrowed);
    margin-top: 5px;
    color: #f1f1f1;
    border-radius: 10px;
}
/* TAKEN BOOK */
.taken-book{
    background: #fff;
    border-radius: 4px;
    margin-left: 10px;
    border-left: 5px solid var(--taken);
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.taken-book h4{
    margin: 0px 0px 10px 0px;
    font-size: 1.2em;
    color: var(--taken);

}
.taken-book p{
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.taken-book a{
    text-decoration: none;
    padding: 5px;
    background: var(--taken);
    margin-top: 5px;
    color: #f1f1f1;
    border-radius: 10px;
}
/* RETURNED BOOK */
.returned-book{
    background: #fff;
    border-radius: 4px;
    margin: 10px auto;
    border-left: 5px solid var(--returned);
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.returned-book h4{
    margin: 0px 0px 10px 0px;
    font-size: 1.2em;
    color: var(--taken);

}
.returned-book p{
    margin: 0;
    font-size: 0.9em;
    color: #555;
}
.returned-book a{
    text-decoration: none;
    padding: 5px;
    background: var(--returned);
    margin-top: 5px;
    color: #f1f1f1;
    border-radius: 10px;
}
/* BOOK FORM STYLES */
label,input{
    display: block;
}
input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
form button{
    background: var(--primary);
    border: 0px;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
div .error{
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    border-radius: 4px;
    margin: 20px 0;
}
.form-links{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 200px;
}
.page-links ul{
    list-style: none;
}
.page-links ul li a{
    display: block;
    text-decoration: none;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    color: #f1f1f1;
    border-radius: 4px;
}
.all{
    background: var(--primary);
}
.booked{
    background: var(--borrowed);
}
.picked{
    background: var(--taken);
}
.returnedd{
    background: var(--returned);
}
/* .del{
    margin-right: 5px;
} */

/* .reglinks{
    justify-content: space-between;
} */
.loginlink{
    margin-left: 20px;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: 8px solid var(--primary);
}
.signuplink{
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    border-bottom: 8px solid var(--primary);
}
.useremail{
    margin-right: 50px;
    font-weight: 500;
}
.logoutbut{
    background: #e21f1f;
    padding: 10px;
    border-radius: 4px;
    background: #fff;
    outline: none;
    border: 3px solid var(--primary);
    font-size: 1.1em;
    cursor: pointer;
}
.searchbut{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 15px;
}
.single-book a{
    margin-top: 10px !important;
}
.del{
    background: #e21f1f;
    margin-right: 10px;
    padding: 8px;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    border: 0;
}


.category {
    width: 300px; /* Adjust the width as per your requirement */
    height: 200px; /* Adjust the height as per your requirement */
    background-color: #f0f0f0; /* Set the background color for the card */
    border-radius: 8px; /* Add rounded corners to the card */
    margin-bottom: 20px; /* Adjust the spacing between the cards */
    overflow: hidden; /* Ensure that the category content does not overflow */
    position: relative; /* Position the category container */
  }
  
  .categorylink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #ffffff; /* Set the color for the category title */
    font-weight: bold;
    font-size: 20px; /* Adjust the font size for the category title */
    position: absolute; /* Position the category title on top of the background image */
    top: 0;
    left: 0;
    background-size: cover; /* Make the background image cover the entire card */
    background-position: center; /* Center the background image within the card */
    padding: 10px; /* Add padding to the category title */
  }